@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navigation{
    background-color: chartreuse;
    height: 50px; 
}
body{
    background-color: #16213E;
}
nav{
    display: flex;
    justify-content: flex-end;
}

nav a{
    margin-left: 200px;
    padding-right: 20px;
}
nav a {
    margin-top: 15px;
    text-decoration: none;
    color: black;
}
.form-{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#details{
    padding: 30px;
    margin: 30px;
    border: 1px solid;
    background-color: purple;
    color: white;
    height: 500px;
    display: grid;
    /* display: none; */
}
form h1{
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 5px;
}
form p{
    margin: 10px;
}
input{
    padding: 7px;
    border-radius: 7px;
}
input[type="number"]{
    margin-bottom: 20px;
}

input[type="submit"]{
    width: 100px;
    background-color: black;
    color: white;
    cursor: pointer;
}
input[type ="submit"]:hover{
    background-color: red;
}

/* Questions styling */
.questions{
    display: grid;
    background-color: white;
    color: black;
    margin: 30px;
    padding: 30px;
    font-family: 'Comic Neue', cursive;
}
.questions h3{
    text-align: center;
    padding: 20px;
}
.questions q {
    padding: 10px;
}
.questions input[type="text"]{
    padding: 10px;
    margin-bottom: 20px;
    width: 500px;
}
.display{
    display: none;
}
/* End of questions */